@charset "UTF-8";
/* 폰트 불러오기 */
@font-face {
    src: url("../fonts/NanumSquareRoundR.ttf");
    font-family: 'NanumSquareRound';
}

/* 폰트 지정 */
*{
    font-family: 'NanumSquareRound';
}

body{
    margin: 0;
}

/* 모든 태그에 지정되는 속성 */
.main{
    text-align: center;
    /* background: #99ff99; */
    width: 1000px; 
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* 캡쳐 버튼 속성 */
.shotButton{
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    position: fixed;
    left: 0;
    top: 0;
}
/* 
.main > .getFile{
    width: 1px;
    height: 1px;
    padding: 50px;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    position: fixed;
    right: 0;
    top: 0;
} */

.fileBox label { 
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    position: fixed;
    right: 0;
    top: 0;

    /* display: inline-block;
    padding: .5em .75em;
    color: #999; 
    font-size: inherit;
    line-height: normal; 
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;  */
}

.fileBox input[type="file"] {
     /* 파일 필드 숨기기 */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}


/* 모든 글자에 지정되는 속성 */
.product_text{
    width: 100%;
    background: none;
    border: none;
    text-align: center;
}

/* 상품명에 지정되는 속성 */
.info01{
    font-size: 70px;
}

/* 상품정보에 지정되는 속성 */
.info02{
    margin-top: 20px;
    font-size: 90px;
}

.mainImage{
    margin-top: 50px;
    width: 70%;
}

.info03{
    margin-top: 60px;
    font-size: 50px;
    width: auto;
    background: #000;
    color: #fff;
    font-weight: bold;
}

.info04{
    margin-top: 50px;
    font-size: 30px;
}

.info05{
    margin-top: 5px;
    font-size: 30px;
    color: #444;
}















.js-setTags{
    color: blue;
}

.form,
.js-setTags {
    display: none;
}

.hidden{
    display: none;
}

.showing{
    display: inline;
}



